<p style="color: green"><%= notice %></p>
<%= render @movie %>
<div>
  <%= link_to "Editar película", edit_movie_path(@movie), class: "btn btn-primary"> |
  <%= link_to "regresar a películas", movies_path, class: "btn btn-secondary" %>
  <%= button_to "Eliminar película", @movie, method: :delete, class: "btn btn-warning"%>
</div>
